nav {
  flex-direction: row;
  align-items: center;

  position: fixed;

  top: 0;
  left: 0;

  height: $nav-bar-height;
  width: calc(100% - 60px);

  padding: 0 30px;

  transition: background 200ms ease-in-out;

  z-index: 10;

  &.scrolled {
    background-color: rgba(0, 0, 0, 0.72);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: background 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  }
}

nav .logo {
  display: block;
  padding-top: 11px;
  width: 90px;
  position: absolute;
}

nav .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  padding-top: 11px;
}

nav .links a {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 15px;

  &:hover {
    span::after {
      width: 100%;
    }
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  i {
    font-size: 13px;
  }

  span {
    position: relative;

    margin-left: 10px;

    font-size: 14px;
    font-weight: 600;
  }
}

nav .links {
  float: right;
}
nav .mobile-wrap {
  position: relative;
}

nav .mobile {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}

nav .mobile-button {
  display: none;
  margin: 0 15px;
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  nav .links {
    margin-left: auto;
    margin-right: 5px;
  }

  nav .links a {
    i {
      font-size: 15px;
    }

    span {
      display: none;
    }
  }

  nav .mobile-button {
    display: block;
  }

  nav .mobile {
    display: none;
    flex-direction: column;

    position: absolute;

    top: calc(100% + 15px);
    right: 10px;

    margin: 0;
    padding: 15px;

    background-color: rgb(19, 19, 19);

    border: 1px solid rgba(151, 151, 151, 0.34);
    border-radius: 5px;

    &.visible {
      display: block;
    }
  }

  nav .mobile a {
    margin: 20px 0 0;

    i {
      font-size: 14px;
    }

    span {
      display: block;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}

.AppHeader-context-item {
  font-weight: var(--base-text-weight-semibold, 600);
}

.AppHeader-context-item {
  font-weight: var(--base-text-weight-semibold, 600);
}
.AppHeader-context-item {
  display: flex;
  align-items: center;
  min-width: 3ch;
  line-height: var(--text-body-lineHeight-medium, 1.4285714286);
  color: inherit;
  text-decoration: none !important;
  border-radius: var(--borderRadius-medium, 6px);
  padding-inline: var(--control-medium-paddingInline-condensed, 8px);
  padding-block: var(--control-medium-paddingBlock, 6px);
}

a.AppHeader-context-item:hover {
  background: rgba(177, 186, 196, 0.12);
}
